.cart {
  margin-top: 99px;
  background: linear-gradient(180deg, #211f20 0%, #44403f 100%);
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  min-height: calc(100vh - 294px);

  .wrapper {
    max-width: 1096px;
    margin: 0 auto;
    padding: 10px 10px;
  }

  &__header {
    padding: 40px 0;
  }

  h2 {
    border-left: 5px solid #618967;
    font-size: 32px;
    padding-left: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
  }

  &__link-to-main {
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease-in-out;
    text-decoration: underline;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 215px;

    &:hover {
      color: #79b382;
    }
  }

  &__hr {
    margin: 20px 0;
    height: 1px;
    border: none;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1516981792717087) 0%,
      rgba(91, 91, 91, 1) 50%,
      rgba(0, 0, 0, 0.1516981792717087) 100%
    );
  }
}
